.card {
  width: 100%;
  background-color: white;
  color: #515151;

  margin: 1em 0;
  padding-left: 2em;

  height: 5em;

  display: flex;
  align-items: center;

  border-radius: 0.4em;
  border-left: 0.4em solid lightgray;
  transition: 0.2s ease-out;

  text-decoration: none;
  &:hover {
    border-left: 0.4em solid deepskyblue;
  }
}
